.demoForm {
	width: 500px;
	margin: auto;
}

.form-col, .form-text {
	text-align: left;
	font-family: 'aventabold';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-col .form-input-label {
	font-family: 'aventabold';
	font-size: 14px;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	margin: 0 26px;
    padding: 3px 6px;
    transform: translateY(50%);
    background: white;
	color: #757575;
}
.form-col label {
	margin-bottom:0;
}

.form-col .show_pw {
	position: absolute;
    top: 50%;
	padding: 0;
    margin: 0;
    transform: translateY(-50%);
    right: 10px;
    z-index: 889;
}

.info-sign-up {
	font-family: 'aventaregular';
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #828282;
	margin-top:48px;
}
.info-sign-up .link {font-size: inherit;}

.form-input-group-remember-me span {
	font-family: 'aventaregular';
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}


.form-group-checkbox .form-control {
	margin: 0 10px 0 0 !important;
}

.form-input-group-remember-me a {
	font-family: 'aventaregular';
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #5383fe;
}


.form-text p {
	width: 80%;
}

.form-col .btn-submit, .form-col .form-control, .form-col h3 {
	font-family: 'aventabold';font-weight: 600;
}

.form-col h3 {
	font-size: 38px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

@media(max-width: 1600px) {
	.form-col h3 {
		font-size: 26px;
	}
}

@media(min-width: 1028px) {
	.form-col, .form-text {
		height: 100vh;
	}
}

.form-control {
    height: 80px !important;
	border: 2px solid #757575 !important;
	border-radius: 4px !important;
}

.btn-block {
	display: block;
}

.form-col .btn-submit {
	display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 60px;
	border: 0 !important;
}
.form-col .form-error {
	font-family: 'aventaregular';
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
}



.form-group-checkbox {
	display: flex;
	align-items: center;
}
.form-group-checkbox .form-control {
	width: 20px;
    height: 20px !important;
	border-radius: 4px;
}

.form-group.has-error .form-control {
	border-color: #dc5d3c !important;
}

.form-input-group .form-control {
	text-align: left !important;
	padding-left: 26px; padding-right: 26px;
}


.form-input-group {
	position: relative;
	margin-bottom: 0 !important;
}
.form-group .form-error {
	height: 20px;
}



.form-group.has-error label,
.form-group.has-error .form-input-label ,
.form-col .form-error {color: #dc5d3c;}

.form-col .btn-submit, .form-col .form-control {
	font-size: 28px !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #040404;
}


.form-text h4 {
	font-family: 'aventabold';
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.form-text p {
	flex-grow: 0;
	margin: 11px 0 24px;
	font-family: 'aventaregular';
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.form-text .author {
	display: block;
	font-family: 'aventabold';
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}


.login_details {
	position: absolute;
    z-index: 66444;
    right: 60px;
    top: 10px;
}

.login_details p {
	font-family: 'aventaregular';
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #5383fe;
}
.login_details a, .login_details span {
	font-family: 'aventabold';
}
.login_details a {
	font-family: 'aventabold';
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #757575;
}